@use "custom";
@use "app";

// IMPORT COMPONENTS

// @use "components/animations";
// @use "components/button";
// @use "components/mixin";
// @use "components/typography";

// IMPORT THE SECTIONS
@use "sections/header";
@use "sections/about";
@use "sections/skills";
@use "sections/footer";
@use "sections/hero";
@use "sections/work";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
